@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center{
  align-items: center;
  justify-content: center;

}

.btn{
  padding: 10vh 6%; 
  font-size: 35px;
}

.fontSize{
  text-align: center;
  font-size: 100px;
  padding: 10vh 30vw;
  /* color:rgb(39, 209, 59); */
  color:rgb(0, 255, 76);
}

.display{
  display: flex;
}

.aduio{
  display: none;
}

.justfy{
  justify-content: center;
}