@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* 
.center{
  align-items: center;
  justify-content: center;

}

.btn{
  /* padding: 10vh 6%;  
  font-size: 35px;
  flex:1;
  text-align: center;
  border-radius: 10%;
}
.btn:active{
  /* transition:scale(0.9);
  
   background-color: #fff;
}

.fontSize{
  text-align: center;
  font-size: 100px;
  padding: 60% 30vw 20%;
  /* color:rgb(39, 209, 59); */

  
  /* text-align: center; 
  justify-content: center;
  align-items: center;
}

.green{
  color:rgb(0, 255, 76);
}
.red{
  color:rgb(255, 228, 20);
}

.display{
  display: flex;
}

.aduio{
  display: none;
}

.justfy{
  justify-content: center;
} */