// body {
//     color: rgb(var(--foreground-rgb));
//     background: linear-gradient(
//         to bottom,
//         transparent,
//         rgb(var(--background-end-rgb))
//       )
//       rgb(var(--background-start-rgb));
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//   }
  
  .center{
    align-items: center;
    justify-content:center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  
  .btn{
    /* padding: 10vh 6%;  */
    font-size: 35px;
    flex:1;
    text-align: center;
    border-radius: 10%;
  }
  .btn:active{
    /* transition:scale(0.9);
     */
     background-color: #fff;
  }
  
  .fontSize{
    text-align: center;
    font-size: 100px;
    padding-bottom: 20vh;
    // height: ;
    /* color:rgb(39, 209, 59); */
  
    
    /* text-align: center; */
    justify-content: center;
    align-items: center;
  }
  
  .green{
    color:rgb(0, 255, 76);
  }
  .yellow{
    color:rgb(255, 255, 2);
  }

  .red{
    color: rgb(255, 14, 14);
  }

  
  .display{
    display: flex;
  }
  
  .aduio{
    display: none;
  }
  
  .justfy{
    justify-content: center;
    
  }
  .toolbar{
    width: 100vw;
  }